# See http://help.github.com/ignore-files/ for more about ignoring files.

NOTES.md
config_kensyou.json
config.json


# compiled output
/tempxml
/dlimage
/kensyou

# dependencies
/node_modules


# System Files
.DS_Store
Thumbs.db

